#square{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
}